doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(content='utf-8', http-equiv='encoding')

    title Twitch Leaderboard

    link(rel='stylesheet', href='/public/css/app.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/public/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png' sizes='32x32', href='/public/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png' sizes='16x16', href='/public/favicon/favicon-16x16.png')
    link(rel='manifest', href='/public/favicon/site.webmanifest')

  body
    block content
    div(class='app')
        - if (typeof(leaderboard) !== 'undefined'){
            div(class='leaderboard ' + leaderboardSettings.theme)
                table(class='leaderboard__table')
                    tr
                        th Name
                        th Views
                    each row in leaderboard
                        tr
                            td= row.referrer
                            td= row.views
        -}
