doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(content='utf-8', http-equiv='encoding')
    title Twitch Leaderboard
    link(rel="stylesheet", href="/css/style.css")


  body
    block content
    div(class='app')
      table(class='leaderboard')
        each val in result
          tr
            td= JSON.stringify(val.referrer).replace(/\"/g, "")
            td= JSON.stringify(val.channel).replace(/\"/g, "")
