// Background variables
.bg {
  &--dark {
    background-image: linear-gradient(33deg, darken($darkBgColor, 10%), $darkBgColor);
    //background: $darkBgColor;
    color: $darkFontColor;

    // Type Overrides
    h1,
    h2,
    h3,
    h4 {
      &.display-1 {
        font-weight: 900;
        letter-spacing: .1rem;
      }

      &.display-2 {
        font-weight: 300;
      }
    }
  }
}
