// Colors
$white:                         #ffffff;

$greyLight:                     #eef2ff;
$greyDark:                      #111a21;

$purpleLight:                   #b283ba;
$purpleMid:                     #7f52a0;

$blueDarkest:                   #1e2433;
$blueDark:                      #343946;

$yellowMid:                     #ff9017;

$primaryColor:                  $purpleMid;
$bgColor:                       $greyLight;
$darkBgColor:                   $blueDarkest;

// Typography
$baseFontColor:                 $blueDarkest;
$darkFontColor:                 $greyLight;
$baseFontSize:                  16px;
$fontHeading:                     'Montserrat', 'Georgia', sans-serif;
$fontSans:                      'Open Sans', 'Helvetica', arial, sans-serif;
