// Colors
$grey00:                        #111a21;

// Typography
$baseFontColor:                 $grey00;
$baseFontSize:                  16px;
$fontSerif:                     'Montserrat', 'Georgia', sans-serif;
$fontSans:                      'Open Sans', 'Helvetica', arial, sans-serif;
